body{
    direction: rtl;
    font-family: monospace;
    background-color: #acd7f9;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.box-container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 576px) {
    .box-container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .box-container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .box-container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .box-container {
      max-width: 1140px;
      height: 100vh;
      overflow: hidden;
    }
  }
.box-container .box-info{
    overflow: hidden;
    margin: 10px auto;
    background-color:#2196f347;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
}
.box-container .box-info .left{
    float: right;
    width: 50%;
    
}
.box-container .box-info .right{
    float: left;
    width: 50%;
    text-align: left;
}

.box-container .box-game{
    display: flex;
    flex-wrap: wrap;
    
}
.box-container .box-game .block-game{
    width: calc(100% / 6 - 5px);
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
    margin-left: 2.5px ;
    margin-right: 2.5px;
    height: 180px;

}
.box-container .box-game.no-clicking {
    pointer-events: none;
}
@media (min-width:768px) and (max-width: 991px) {
    .box-container .box-game .block-game{
        height: 110px;
    }
}
@media (min-width:576px) and (max-width: 767px) {
    .box-container .box-game .block-game{
        width: 165px;
        height: 140px;
    }
}

@media (max-width: 575.98px) {
    .box-container .box-game .block-game{
        width: 105px;
        height: 105px;
        margin-bottom: 5px;
    }

}


.box-container .box-game .block-game .back{
    background-color: #2196f347;
}

.box-container .box-game .block-game .front{
    background-color: #333;
    transform: rotateY(180deg);
}
.box-container .box-game .block-game .front img{
    width: 100%;
    height: 100%;
}
.box-container .box-game .block-game .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}
.box-container .box-game .block-game.flip,
.box-container .box-game .block-game.has-match{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}

.control-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:  #acd7f9;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-box button{
    background-color:#FF9800 ;
    border: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px #ccc;
    font-size: 18px;
    cursor: pointer;
   
}
.control-box button:focus{
    outline:none;
}
.control-box input{
    padding: 15px;
    box-shadow: 0 0 10px #ccc;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid transparent;
    
}
.control-box input:focus{
    outline:none;
}

.control-box #input.check-::-webkit-input-placeholder{
    color: red;
}

#true,
#false,
#next,
#retry,
#starAudio{
    display: none;
}
.game-over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
	text-align: center;
	user-select: none
}
.congat{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
	text-align: center
}
.congat h3,
.game-over h3
{
    font-size: 30px;
	color: #FF9800
}
.congat h1,
.game-over h1
{
    font-size: 60px;
	color: #FF9800
}
.congat button,
.game-over button{
background-color: #FF9800;
    border: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px #ccc;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 8px;
	outline: none
   
}
.congat button{
    margin-left: 168px;
}

.congat img,
.game-over img{
	width: 300px;
	display: block;
	margin: auto
}